.jumbotron{
	width:auto;
	text-align:center;
	background-color: #2468a4;
	color:white;
}

#add-employees{
	margin:75px, 100px, 74px,100px;
	border-width:2px;
	border-color:grey;
	border-style:;
}

.add-data{
	display:block;
	border-width:2px;
	border-color:grey;
	border-style:;
}




footer{
	position:fixed;
}